*{
    font-family: "Spinnaker", sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 600;
    /* background-color: blueviolet; */
}
a{
    text-decoration: none;
    color: rgba(14, 19, 67, 0.942);
}
.main{
    /* padding: 0 5vw; */
    background-color: rgba(10, 169, 205, 0.752);
    /* width: 100vw; */
    /* background-image: url(asset\ 32.png); */
    background-size: 400px;
    color: rgba(14, 19, 67, 0.942);
}
.nav{
    display: flex;
    justify-content: space-around;
    /* width: 100vw; */
    /* padding: 0 2vw; */
    background-color: rgb(10, 169, 205);
    background-image: url(asset\ 32.png);
    background-size: 400px;
    border-bottom: 2px solid rgba(14, 19, 67, 0.942);
    margin-bottom: 40px;
}
.nav-options a:hover{
    transform: scale(1.1);
}
.nav img{
    height: 5vw;
}
.nav .nav-options{
    display: flex;
    align-items: center;
    gap: 3vw;

}
.nav-options a, .links h3{
    border: 2px solid rgba(14, 19, 67, 0.942);
    border-radius: 10px;
    padding: 5px 10px;
}

.container{
    margin: auto;
    position: relative;
    max-width: 850px;
    width: 100%;
    background: #fff;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    perspective: 2700px;
  }
  .container .cover{
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
  }
  .container #flip:checked ~ .cover{
    transform: rotateY(-180deg);
  }
   .container .cover .front,
   .container .cover .back{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .cover .back{
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }
  .container .cover::before,
  .container .cover::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(82, 160, 209);
    opacity: 1.5;
  }
  .container .cover::after{
    opacity: 0.3;
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }
  .container .cover img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 10;
  }
  .container .cover .text{
    position: absolute;
    z-index: 130;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container .forms{
    height: 100%;
    width: 100%;
    background: #fff;
  }
  .container .form-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .form-content .login-form,
  .form-content .signup-form{
    width: calc(100% / 2 - 25px);
  }
  .forms .form-content .title{
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
  }
  .forms .form-content .title:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background-color: rgb(75, 164, 219);
  }
  .forms .signup-form  .title:before{
    width: 20px;
  }
  .forms .form-content .input-boxes{
    margin-top: 30px;
  }
  .forms .form-content .input-box{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
  }
  .form-content .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    transition: all 0.3s ease;
  }
  .form-content .input-box input:focus,
  .form-content .input-box input:valid{
    border-color: rgb(26, 89, 128);
  }
  .form-content .input-box i{
    position: absolute;
    /* color: #28b562; */
    color: rgb(59, 154, 213);
    font-size: 17px;
  }
  .forms .form-content .text{
    font-size: 14px;
    font-weight: 500;
    color: #333;
  }
  .forms .form-content .text a{
    text-decoration: none;
  }
  .forms .form-content .text a:hover{
    text-decoration: underline;
  }
  .forms .form-content .button{
    color: #fff;
    margin-top: 40px;
  }
  .forms .form-content .button input{
    color: #fff;
    background-color: rgb(37, 146, 214);
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .forms .form-content .button input:hover{
    background-color: rgb(21, 98, 147);
  }
  .forms .form-content label{
    color:  rgb(37, 146, 214);
    cursor: pointer;
  }
  .forms .form-content label:hover{
    text-decoration: underline;
  }
  .forms .form-content .login-text,
  .forms .form-content .sign-up-text{
    text-align: center;
    margin-top: 25px;
  }
  .container #flip{
    display: none;
  }
  footer{
    background-color: rgb(10, 169, 205);
    background-image: url(asset\ 32.png);
    background-size: 400px;
    /* height: 80px; */
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* margin: 30px 0px; */
    border-top: 2px solid rgba(14, 19, 67, 0.942);
    /* margin-top:50px ; */
}
.foot-down{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 10px;
    margin-top: 40pxx;
    
}
.foot-up{
    padding: 30px;
}
/* .foot-left h2{
    font-weight: 400;
    font-family: 'kode+Mono';
} */
.foot-right{
    display: flex;
    justify-content: space-around ;
    align-items: center;
    width: 20vw;
}
.contactus{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    margin: auto;
}
.contactus .logo img{
    height: 20vh;
}
#mail{
    margin-bottom: 40px;
}
.links h3{
    margin-bottom: 15px;
}
#details p{
    margin-bottom: 15px;
}
.fa-brands{
    font-size: 3rem;
}
.fa-solid{
    font-size: 3rem;
}
.h-full{
    font-size: 3rem;
}
.copyright{
    margin-top: 40px;
    text-align: center;
}