@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Spinnaker&display=swap');

/* sapgreen-: #008080
 lightblue: #0d6efd*/
*{
    font-family: "Spinnaker", sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 600;
    /* background-color: blueviolet; */
}
a{
  text-decoration: none;
  color: black;
}
ul li{
  list-style: none;
}
.navbar{
  display: flex;
  /* width: 100vw; */
  align-items: center;
  justify-content: space-around;
  background-color: #008080;
  padding: 1vw 0;
  /* border-bottom: 2px solid BLACK; */
  box-shadow: 0px 1px 6px black;
  margin-bottom: 80px;

}
.navbar .navoptions ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40vw;
  flex-wrap: wrap;
}
.navbar .logo img{
  width: 10vw;
  min-width: 55px;
}
.navbar .navoptions li :hover{
  color: white;
  padding: 5px 12px;
  border-bottom: 2px solid white;
  /* transition-duration: 3ms; */
}
.container{
  margin: auto;
  position: relative;
  max-width: 850px;
  width: 100%;
  background: #fff;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  perspective: 2700px;
}
.container .cover{
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  z-index: 98;
  transition: all 1s ease;
  transform-origin: left;
  transform-style: preserve-3d;
}
.container #flip:checked ~ .cover{
  transform: rotateY(-180deg);
}
 .container .cover .front,
 .container .cover .back{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.cover .back{
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.container .cover::before,
.container .cover::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: #0c7070;
  opacity: 0.5;
}
.container .cover::after{
  opacity: 0.3;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.container .cover img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 10;
}
.container .cover .text{
  position: absolute;
  z-index: 130;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cover .text .text-1,
.cover .text .text-2{
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.cover .text .text-2{
  font-size: 15px;
  font-weight: 500;
}
.container .forms{
  height: 100%;
  width: 100%;
  background: #fff;
}
.container .form-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-content .login-form,
.form-content .signup-form{
  width: calc(100% / 2 - 25px);
}
.forms .form-content .title{
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #333;
}
.forms .form-content .title:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: #118181;
}
.forms .signup-form  .title:before{
  width: 20px;
}
.forms .form-content .input-boxes{
  margin-top: 30px;
}
.forms .form-content .input-box{
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}
.form-content .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.form-content .input-box input:focus,
.form-content .input-box input:valid{
  border-color: #008080;
}
.form-content .input-box i{
  position: absolute;
  color: #136c6c;
  font-size: 17px;
}
.forms .form-content .text{
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.forms .form-content .text a{
  text-decoration: none;
}
.forms .form-content .text a:hover{
  text-decoration: underline;
}
.forms .form-content .button{
  color: #fff;
  margin-top: 40px;
}
.forms .form-content .button input{
  color: #fff;
  background: #14a3a3;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.forms .form-content .button input:hover{
  background: #067272;
}
.forms .form-content label{
  color: #008080;
  cursor: pointer;
}
.forms .form-content label:hover{
  text-decoration: underline;
}
.forms .form-content .login-text,
.forms .form-content .sign-up-text{
  text-align: center;
  margin-top: 25px;
}
.container #flip{
  display: none;
}
footer{
  background-color: #008080;
  padding-bottom: 20px;
  margin-top: 80px;
}
.footer{
  /* background-color: #008080; */
  color: white;
  border-top: 2px solid rgba(14, 19, 67, 0.942);
  padding: 30px 50px;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.logo-foot img{
  width: 300px;
  height: 100px;
}
.content{
  width: 400px;
  line-height: 1.5rem;
  color: rgb(4, 14, 35);
}
.foot-links li a{
  color: rgb(4, 14, 35);
}
.foot-links li{
  text-align: center;
  margin: 15px 0px;
  font-size: 1.1rem;
}
.social-links{
  text-align: center;
  font-size: 1.5rem;
}
.social-links li{
  margin: 20px 0px;
}
.copyright{
  text-align: center;
  color: rgb(4, 14, 35);
}
