@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Spinnaker&display=swap');

/* sapgreen-: #008080
 lightblue: #0d6efd*/
 html{
    overflow-x: hidden;
 }

*{
    font-family: "Spinnaker", sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 600;
    /* background-color: blueviolet; */
}
a{
    text-decoration: none;
    color: black;
}
ul li{
    list-style: none;
}
.navbar{
    display: flex;
    /* width: 100vw; */
    align-items: center;
    justify-content: space-around;
    background-color: #008080;
    padding: 1vw 0;
    /* border-bottom: 2px solid BLACK; */
    box-shadow: 0px 1px 6px black;
    

}
.navbar .navoptions ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40vw;
    flex-wrap: wrap;
}
.navbar .logo img{
    width: 10vw;
    min-width: 55px;
}
.navbar .navoptions li :hover{
    color: white;
    padding: 5px 12px;
    border-bottom: 2px solid white;
    /* transition-duration: 3ms; */
}
.projects{
    /* background-image: url(projects.svg);
    background-repeat: no-repeat;
    background-size: 600; */
     /* margin: auto;  */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 62vh;
    width: 100vw;
    z-index: -5;
}
.projects img{
    position: relative;
    height: 60vh;
}
.projects button{
    position: absolute;
    margin-bottom: 5vw;
    height: 4vw;
    font-size: 1.3vw;
    width: 18vw;
    background-color: transparent;
    border-radius: 10px;
    border: 0px solid black;
    box-shadow: inset 15px 0px 64px #008080;
}
.aboutus{
    /* margin-top: 30px; */
    /* width: 100vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vw 0;
    
}
.aboutus p{
    font-weight: 400;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 45vw;
    gap: 10px;
}
.right{
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right img{
    width: 25vw;
}
#head1{
    display: flex;
    font-size: 2rem;
}
#color{
    color: #008080;
}
.left h3{
    color: rgb(99, 98, 98);
}
.left .btn{
    font-weight: 400;
    /* color: white !important; */
}
.left .btn button{
    border: 1px solid black;
    border-radius: 9px;
    background-color: #008080;
    padding: 7px 15px;
    /* color: white !important; */
}
.btn button a{
    color: white;
    font-weight: 500;
}
footer{
    background-color: #008080;
    padding-bottom: 20px;
}
.footer{
    /* background-color: #008080; */
    color: white;
    border-top: 2px solid rgba(14, 19, 67, 0.942);
    padding: 30px 50px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.logo-foot img{
    width: 300px;
    height: 100px;
}
.content{
    width: 400px;
    line-height: 1.5rem;
    color: rgb(4, 14, 35);
}
.foot-links li a{
    color: rgb(4, 14, 35);
}
.foot-links li{
    text-align: center;
    margin: 15px 0px;
    font-size: 1.1rem;
}
.social-links{
    text-align: center;
    font-size: 1.5rem;
}
.social-links li{
    margin: 20px 0px;
}
.copyright{
    text-align: center;
    color: rgb(4, 14, 35);
}
